*.DS_Store

code/data
code/.ipynb_checkpoints/

writeup/acl_latex.synctex.gz
writeup/.DS_Store
writeup/acl_latex.aux
writeup/acl_latex.blg
writeup/acl_latex.fdb_latexmk
writeup/acl_latex.fls
writeup/acl_latex.log
writeup/acl_latex.out

